<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Meter by zenYamz</title>
    <!-- style -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="title">Welcome to zenYamz's <strong>Smart Meter</strong> monitoring system</h1>
        <p class="subtitle">View energy consumption</p>
        <hr>
        <div class="justify-content-center" id="initial-choices">
            Please choose which graph you would like to view:
            <div class="row justify-content-center mt-3">
                <button class="btn btn-primary mx-2" id="generated-btn">Generated Energy</button>
                <button class="btn btn-primary mx-2" id="consumed-btn">Consumed Energy</button>
            </div>
        </div>
        <div class="justify-content-center" id="generated-graph">
            <div class="row mt-3 mb-3">
                <button class="inline btn btn-light text-muted">Energy Generated</button>
                <button class="inline btn btn-primary" id="switch-g-btn">Energy Consumed</button>
            </div>
            <h5 class="title is-6">Energy Generated (kWh)</h5>
            <div id="generated" class="chart"></div>
        </div>
        <div class="justify-content-center" id="consumed-graph">
            <div class="row mt-3 mb-3">
                <button class="inline btn btn-light text-muted">Energy Consumed</button>
                <button class="inline btn btn-primary" id="switch-c-btn">Energy Generated</button>
            </div>
            <h5 class="title is-6">Energy Consumed (kWh)</h5>
            <div id="consumed" class="chart"></div>
        </div>
    </div>
    <!-- import our data script in -->
    <script>
        var generated = {{generated|safe}},
            consumed = {{consumed|safe}};
        Plotly.plot('generated',generated,{});
        Plotly.plot('consumed',consumed,{});
    </script>
    <script src="./static/static.js"></script>
</body>
</html>